@font-face {
    font-family: 'Roboto';
    src:    
        url('../resources/fonts/Roboto-Regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src:
        url('../resources/fonts/Roboto-Bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

:root {
    /* background color */
    --containers-color: #e0ebff;

    /* information-bar colors */
    --inf-bar-text-color: #383d44;
    --inf-bar-text-font: 'Roboto', sans-serif;
    --inf-bar-text-font-weight: 700;

    /* navigation-bar container colors */
    --nav-bar-containers-color: #c7dbff;
    --nav-bar-footer-color: #466EC4;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


.windows-container {
    position: absolute;
    background-color: white;

    border-color: #485181;
    
    border-style: solid;
    border-width: 2rem 0.5rem 0.5rem 0.5rem;
    border-radius: 0.7rem;

    height: 80%;
    width: 80%;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.windows-icon {
    position: absolute;
    transform: translate(0%, -115%);
}

.windows-text {
    position: absolute;
    transform: translate(25%, -120%);

    font-family: var(--inf-bar-text-font);
    font-weight: var(--inf-bar-text-font-weight);
    color: #f2faff;
}

.windows-container p {
    font-family: var(--inf-bar-text-font);
    font-weight: var(--inf-bar-text-font-weight);
    color: #f2faff;
}

.windows-container button {
    border: none;
    background: none;

    position: absolute;
    right: 0.2rem;
    transform: translate(25%, -103%);
    cursor: pointer;
}


.general-window {
    height: 100%;
    width: 100%;

    margin-top: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;

}

/* WORK WINDOW */
.work-window-content {
    border: 0.5rem solid;
    border-color: #696A8B;
    border-radius: 1rem;

    width: 90%;
    height: auto;

    background-color: #696A8B;

}

.work-window-content p {
    padding-bottom: 1rem;
    padding-left: 1rem;
}

.work-window-content p:last-child {
    padding-bottom: 2rem;
}

.work-window-year{
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    right: 4rem;
}



